.App {
  text-align: center;
  position: relative;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

.App-header {
  background: #ab2a19;
  height: 70px;
  padding: 20px;
  text-align: left;
}
.form-box {
  position: fixed;
  top: 300px;
  right: 120px;
  width: 200px;
  height: 100px;
}

/* .App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
